# Documentación interna (No subir al repo)
GUIA_*.md
PLAN_*.md
MEJORAS_*.md

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# PyInstaller (Carpetas de compilación)
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Logs y temporales
*.log
